# EDA

## Imports

In [20]:
# General imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
from pathlib import Path

data_folder = Path("data")
submission_folder = Path("submissions")
figures_folder = Path("figures")

## Read data

In [7]:
sample_submission = pd.read_csv(data_folder / "sample_submission.csv")
train = pd.read_csv(data_folder / "train.csv")
test = pd.read_csv(data_folder / "test.csv")

In [8]:
sample_submission.head()

     id  Tm
0  1022   0
1  1146   0
2    79   0
3  2279   0
4  1342   0

In [16]:
train.head()

,id,SMILES,Tm,Group 1,Group 2,Group 3,Group 4,Group 5,Group 6,Group 7,...,Group 415,Group 416,Group 417,Group 418,Group 419,Group 420,Group 421,Group 422,Group 423,Group 424
0,2175,FC1=C(F)C(F)(F)C1(F)F,213.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1222,c1ccc2c(c1)ccc3Nc4ccccc4c23,407.15,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2994,CCN1C(C)=Nc2ccccc12,324.15,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1704,CC#CC(=O)O,351.15,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2526,CCCCC(S)C,126.15,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
train.shape, test.shape

((2662, 427), (666, 426))

# Exploration